@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

.logo img {
  margin: 0;
  display: flex;
  align-items: center;
  width: 300px;
}

a {
  color: inherit;
}

.carrossel img {
  margin-top: 7rem;
  width: 1200px;
  margin-bottom: 2rem;
}
.cards {
  justify-content: space-between;
  margin: 10px;
  align-items: center;
  display: flex;
}

.indice {
  justify-content: space-between;
  margin: 10px;
  align-items: center;
  display: flex;
}

.acoes {
  justify-content: space-between;
  margin: 10px;
  align-items: center;
  display: flex;
}

.all {
  min-width: 100%;
  min-height: 100vh;
  background: linear-gradient(#000000, #111111);
}

.content {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  font-family: "Poppins", sans-serif;
  color: #eef;
  font-size: 20pt;
  background-color: #000000;
  height: 20%;
}

header {
  width: 100%;
  position: fixed;
  font-family: "League Spartan", sans-serif;
  align-items: center;
  display: flex;
  height: 75px;
  background: #000000;
}

header ul {
  display: flex;
}

/* HAMBURGER MENU */
#menu__toggle {
  opacity: 0;
}
#menu__toggle:checked + .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked + .menu__btn > span::before {
  top: 0;
  transform: rotate(0deg);
}
#menu__toggle:checked + .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  left: 0 !important;
}
.menu__btn {
  position: fixed;
  top: 33px;
  left: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 4;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #eef;
  transition-duration: 0.25s;
}
.menu__btn > span::before {
  content: "";
  top: -8px;
}
.menu__btn > span::after {
  content: "";
  top: 8px;
}
.menu__box {
  display: block;
  position: fixed;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #141414;
  box-shadow: 2px 2px 6px rgba(14, 14, 14, 0.4);
  transition-duration: 0.25s;
}

.btn-da {
  display: flex;
}

.btn-da button {
  width: 150px;
}

.menu__item {
  display: block;
  padding: 12px 24px;
  color: #eef;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: 0.25s;
}
.menu__item:hover {
  color: #111111;
  background-color: #87c8e0;
}

/* RESPONSIVANDO */

@media only screen and (min-width: 900px) and (max-width: 1880px) {
  .carrossel img {
    width: 800px;
  }

  .hamburger-menu {
    display: none;
  }
}
@media only screen and (max-width: 890px) {
  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    width: 70%;
  }

  .cards {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }

  .indice {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }

  .acoes {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }

  .carrossel img {
    width: 490px;
  }

  header {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .logo img {
    margin: 0;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .desk {
    display: none;
    visibility: hidden;
  }

  .live button {
    display: none;
    visibility: hidden;
  }

  .hamburger-menu {
    display: block;
    visibility: visible;
  }

  ul {
    z-index: 3;
  }
}
@media only screen and (max-width: 525px) {
  .carrossel img {
    width: 390px;
  }
}
FIM DE RESPONSIVANDO

/* FIM HAMBURGER MENU */

.logo img {
  margin: 0;
  cursor: pointer;
  display: flex;
  width: 300px;
}
.logo {
  margin: 0;
  width: 70%;
}
.list {
  float: right;
}

li {
  color: #87c8e0;
  cursor: pointer;
  font-size: 16pt;
  list-style: none;
  margin-left: 20px;
}

li:hover {
  text-decoration: underline;
}

.resp {
  max-width: 500px;
  margin-bottom: 2rem;
}

.resp span {
  color: #000000;
  font-size: 16pt;
}

.desc {
  max-width: 500px;
  margin-bottom: 2rem;
}

.desc span {
  color: #eef;
  font-size: 16pt;
}
.title h1 {
  color: #87c8e0;
  margin-bottom: 2rem;
}
i {
  margin: 0;
}

main {
  padding: 7rem;
}

.saiba-mais {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

button {
  cursor: pointer;
  margin-left: 15px;
  width: 100px;
  color: #87c8e0;
  background-color: #000000;
  border: solid 1px #87c8e0;
  border-radius: 10px;
}
button:hover {
  color: #000000;
  background-color: #87c8e0;
  transition: 1s;
  border-radius: 10px;
}
footer {
  padding: 50px 0;
}
.container-footer {
  max-width: 1400px;
  padding: 0 4%;
  margin: auto;
}
.row-footer {
  display: flex;
  flex-wrap: wrap;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
}
.footer-col h4 {
  font-size: 22px;
  color: #87c8e0;
  margin-bottom: 20px;
  font-weight: 500;
  position: relative;
  text-transform: uppercase;
}
.footer-col ul {
  list-style: none;
}
.footer-col ul li {
  margin: 10px 0;
}
.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: white;
  text-decoration: none;
  font-weight: 300;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: #cecdcd;
  padding-left: 10px;
}
.footer-col .medias-socias {
  margin-top: 25px;
}
.footer-col .medias-socias a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  margin: 0 10px 10px 0;
  text-decoration: none;
  border-radius: 50%;
  color: white;
  border: 1px solid white;
  transition: all 0.5s ease;
}
.footer-col .medias-socias a i {
  font-size: 20px;
}

i[data-v-70d5cb94] {
  margin: 0;
}
.footer-col .medias-socias a:hover {
  color: #87c8e0;
  background-color: #111111;
}
.footer-col .form-sub input {
  width: 100%;
  padding: 10px;
  font-size: 15px;
  outline: none;
  border: 1px solid white;
  color: white;
  background-color: #87c8e0;
}
.footer-col .form-sub input::placeholder {
  color: white;
}

/* Responsivo */
@media (max-width: 800px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media (max-width: 600px) {
  .footer-col {
    width: 100%;
  }
}
